@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Thin.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Light.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Medium.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Black.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
}

* {
  font-family: Montserrat, sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
p {
  font-size: 1rem;
  font-weight: normal;
}
body {
  background-color: #fcfcfc;
}

.toggle-switch {
  transition: background-color 0.3s;
}

.toggle-knob {
  transform: translate(0, -50%);
  transition: transform 0.3s, background-color 0.3s;
}

.toggle-switch.checked .toggle-knob {
  transform: translate(32px, -50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

