@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Thin.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-ExtraLight.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Light.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Medium.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src:
    url("./assets/fonts/Montserrat-Black.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
}

* {
  font-family: Montserrat, sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
p {
  font-size: 1rem;
  font-weight: normal;
}
body {
  background-color: #fcfcfc;
}

.toggle-switch {
  transition: background-color 0.3s;
}

.toggle-knob {
  transform: translate(0, -50%);
  transition: transform 0.3s, background-color 0.3s;
}

.toggle-switch.checked .toggle-knob {
  transform: translate(32px, -50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-lg {
  font-size: 1rem;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateY(110%);
}

.menu-primary-enter-active {
  transform: translateY(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateY(100%);
  transition: all 500ms ease;
}

.ai-linear-text-gradient {
  background: linear-gradient(to right, #1F4F80 0%, #FF6F61 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai-border-gradient {
  background: 
    linear-gradient(#F3F0E8 0 0) padding-box,
    linear-gradient(to right, #1F4F80, #FF6F61) border-box;
    border: 4px solid transparent;
    opacity: var(--tw-bg-opacity);
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}